
<section class="oe_container" style="background: #55D3DD;
        background-image: -webkit-linear-gradient(top, #186B71, #31C0CB);
        background-image: -moz-linear-gradient(top, #186B71, #31C0CB);
        background-image: -ms-linear-gradient(top, #186B71, #31C0CB);
        background-image: -o-linear-gradient(top, #186B71, #31C0CB);
        background-image: linear-gradient(to bottom, #186B71, #31C0CB);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186B71', endColorstr='#31C0CB',GradientType=0 );
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 13% 0% 19% 15%;
        border-radius: 15px;
        height: 450px;
        ">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="font-size: 35px;color: #fff;font-weight: 900;text-transform: uppercase;text-align: left;margin: 0;margin-bottom: 16px;">
            GTS Customer/Vendor Approval Workflow
        </h2>
        <h3 class="oe_slogan" style="font-size: 25px;color: #fff;font-weight: 600;text-align: left;opacity: 1;margin: 0 !important;">
            This module would allow you to validate product before using <br/>
            anywhere in the transaction like sale, purchase, invoice etc.
        </h3>
        <h5 class="oe_slogan"
            style="text-align: left;background: #fff;width: 293px;padding: 10px;
            color: #080808 !important;opacity: 1 !important;font-weight: 600;
            font-size: 20px;border-radius: 15px;">
            <a style="color: #080808 !important; border-radius: 15px;" target="new"
               href="https://www.geotechnosoft.com">Geo Technosoft</a>
        </h5>
    </div>
</section>

<section class="oe_container" style="padding: 0% 0% 0% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
             Configuration
        </h2>
        <h2 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 24px;width: 90%;margin: 0;margin-top: 14px;color: #63254D !important;opacity: 1 !important;line-height: 24px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            Assign "Approve Partners" group in Setting > Uses & Companies > Users
            <br/><br/>
            <img src="assign_group.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
        </h2>
    </div>
</section>

<section class="oe_container" style="padding: 0% 0% 0% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
             Features
        </h2>
        <h3 class="oe_slogan" style="text-align: left;font-size: 22px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            Filter by "Approval Status" of Partners (Customers / Suppliers) - Potential, Pending, Approved, Rejected
        </h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 22px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            Allows to validate the Vendor or Customer before using anywhere in the ERP
        </h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 22px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            Normal User can only create Potential Partners and request for Approval
        </h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 22px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            On each status of Vendor or Customer, Emails are sent with link to appropriate users
        </h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 22px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            User can click the link from email and jump to ERP , after login you can see the partner
            and then approve or reject it.
        </h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 22px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            Emails for Approved and Rejected Partners are being sent to the appropriate users in the ERP.
        </h3>
    </div>
</section>

<section class="oe_container" style="padding: 3% 0% 0% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Screenshots
        </h2>
        <h2 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 24px;width: 90%;margin: 0;margin-top: 14px;color: #63254D !important;opacity: 1 !important;line-height: 24px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            We dont have any Approved Customers / Vendors in the database now.
            <br/><br/>
            <img src="no_approved_customers.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/>
            <img src="no_approved_vendors.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
        </h2>
    </div>
</section>

<section class="oe_container" style="padding: 3% 0% 0% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 24px;width: 90%;margin: 0;margin-top: 14px;color: #63254D !important;opacity: 1 !important;line-height: 24px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            So no Customer or Vendor available to use in Sale Order or Purchase Order
            <br/><br/>
            <img src="no_customer_quotation.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/>
            <img src="no_vendor_quotation.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
        </h2>
    </div>
</section>
<section class="oe_container" style="padding: 3% 0% 0% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Customers Approval
        </h2>
        <h2 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 24px;width: 90%;margin: 0;margin-top: 14px;color: #63254D !important;opacity: 1 !important;line-height: 24px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            So now we will create a new Customer and see the flow
            <br/><br/>
            <img src="to_approve_customer.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/><br/>
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            Email sent to Approval Managers for requesting approval
            <br/><br/>
            <img src="to_approve_customer_email.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/><br/>
            <img src="pending_customer.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/><br/>
            <img src="approval_customer.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/><br/>
            <img src="approved_customer.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/><br/>
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            Email sent to owner of contact once it is approved by Approval Manager
            <br/><br/>
            <img src="approved_customer_email.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
        </h2>
    </div>
</section>
<section class="oe_container" style="padding: 3% 0% 0% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Vendors Approval
        </h2>
        <h2 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 24px;width: 90%;margin: 0;margin-top: 14px;color: #63254D !important;opacity: 1 !important;line-height: 24px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            So now we will create a new Vendor and see the flow.<br/>
            Process is same as Customer Approval
            <br/><br/>
            <img src="to_approve_vendor.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/><br/>
            <img src="to_approve_vendor_email.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/><br/>
        </h2>
    </div>
</section>
<section class="oe_container" style="padding: 3% 0% 0% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 24px;width: 90%;margin: 0;margin-top: 14px;color: #63254D !important;opacity: 1 !important;line-height: 24px;">
            <img src="arrow.png" style="color: #186B71;font-size: 22px;"/>
            Now Customers / Vendors approved will be visible in Sale, Purchase and Invoice for use
            <br/><br/>
            <img src="new_customer_quotation.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
            <br/><br/>
            <img src="new_vendor_quotation.png" alt="" height="420"
                 class="img-border img-responsive thumbnail"
                 style="width: 95%;border: 1px solid black;"/>
        </h2>
    </div>
</section>

<section class="oe_container" style="color: #a24689 !important;padding: 1% 0% 0% 3%;">
    <div class="oe_row oe_spaced">
        <center>
            <h2 class="oe_slogan" style="color: #a24689 !important;text-align: center;font-size: 28px;font-weight: 600;margin: 0px !important;">
                Need help or want extra features?
            </h2>
            <h2 class="oe_slogan" style="color: #a24689 !important;text-align: center;font-size: 28px;font-weight: 600;margin: 0px !important;">
                <a href="mailto:info@geotechnosoft.com">
                    <span style="color: #000000 !important;">Mail us:</span>
                    <p style="color: #249E9C !important;">info@geotechnosoft.com</p>
                </a>
            </h2>
        </center>
    </div>
</section>

<section class="oe_container" style="padding: 1% 0% 0% 3%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Our Service
        </h2>
        <div style="display:flex;padding-top: 20px;justify-content: space-between;">
            <div style="flex-basis: 18%;">
                <a href="https://www.geotechnosoft.com/" target="_blank">
                    <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <img src="customization.png" alt="" style="width: 95%;"/>
                    </div>
                     <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">

                        Odoo <br/>Customization
                     </h3>
                 </a>
            </div>
             <div style="flex-basis: 18%;">
                 <a href="https://www.geotechnosoft.com/" target="_blank">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <img src="implemenation.png" style="width: 100%;border-radius: 100%;"/>
                </div>
                 <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    Odoo <br/>Implementation
                 </h3>
                 </a>
            </div>
             <div style="flex-basis: 18%;">
                 <a href="https://www.geotechnosoft.com/" target="_blank">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                    <img src="integration.png" style="width: 100%;border-radius: 100%;"/>
                </div>
                 <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    Odoo <br/>Integration
                 </h3>
                 </a>
            </div>
             <div style="flex-basis: 18%;">
                 <a href="https://www.geotechnosoft.com/page/db-migration/" target="_blank">
                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                    <img src="db_migration.png" style="width: 100%;border-radius: 100%;"/>
                </div>
                 <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    Odoo Upgrade or <br/> DB Migration
                 </h3>
                 </a>
            </div>
             <div style="flex-basis: 18%;">
                 <a href="mailto:info@geotechnosoft.com" target="_blank">
                     <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <img src="developer.png" style="width: 100%;border-radius: 100%;"/>
                     </div>
                     <h3 class="oe_slogan" style="text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                        Hire <br/>Odoo Developer
                     </h3>
                 </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container" style="padding: 3% 0% 0% 3%;">
     <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Our Specialization
        </h2>
        <div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.geotechnosoft.com/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="commerce.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Commerce
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Easily buy and sell your goods and services.
                     </h3>
                    </div>
                 </a>
            </div>
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.geotechnosoft.com/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="manufacturing.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Manufacturing
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Plan and schedule your production.
                     </h3>
                    </div>
                 </a>
            </div>

            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.geotechnosoft.com/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="hotel.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>

                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Hotel Management
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Experience in hotel management implementation.
                     </h3>
                    </div>
                 </a>
            </div>
            <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.geotechnosoft.com/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="education.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>

                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Education
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Educational management.
                     </h3>
                    </div>
                 </a>
            </div>
             <div style="flex-basis: 32%;padding-top: 20px;">
                <a href="https://www.geotechnosoft.com/" target="_blank">
                    <div style="width:30%; float:left;">
                        <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                            <img src="service.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>

                        </div>
                    </div>
                    <div style="width:70%;float:left;">
                     <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:600;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                        Service Management
                     </h3>
                    <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                        Organized and structured in processes management.
                     </h3>
                    </div>
                 </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <a href="http://www.geotechnosoft.com/" target="new">
                <center>
                    <img class="oe_picture oe_screenshot center-block" src="geotechnosoft_logo.png"
                         style="width: 200px; margin-bottom: 20px;"/>
                </center>
            </a>
            <div class="oe_span12">
                <h2 class="text-center">
                    <a>About us</a>
                </h2>
            </div>
            <span> <a style="color: #a24689 !important;"
                href="http://www.geotechnosoft.com/" target="new">Website</a> | <a
                style="color: #a24689 !important;"
                href="http://www.geotechnosoft.com/" target="new">Blog</a> | <a
                style="color: #a24689 !important;"
                href="mailto:info@geotechnosoft.com">Contact Us</a> | <a
                style="color: #a24689 !important;"
                href="mailto:info@geotechnosoft.com">Request New Feature</a>
            </span>
            <center>
            <span class="oe_slogan" style="text-align: center;">
                <h2>
                    <a href="https://www.odoo.com/apps/modules/browse?search=geo+technosoft"
                        target="new">
                        <span class="fa fa-star fa-spin"></span>
                        Click here for Geo Technosoft Odoo Apps
                        <span class="fa fa-star fa-spin"></span>
                    </a>
                </h2>
            </span>
        </center>
        </div>
    </div>
</section>

